/*
 * Copyright (c) 2012 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

h1, h2, h3, h4, h5 {
   display: block;
   font-family: ITC Officina Sans Book, Terminator Two, Helvetica, Arial, sans-serif;
   font-style: bold;
   margin: 0;
}

strong {
   font-family: ITC Officina Sans Book, Terminator Two, Helvetica, Arial, sans-serif;
   font-style: bold;
   margin: 0;
}

input.std, textarea.std {
   color: black;
   border: 2px inset #ff9933;
   background-color: #ffffff;
   width:450px;
   max-width:450px;
}

input.stdbutton {
   font-family: ITC Officina Sans Book, Helvetica, Arial, sans-serif;
   font-style: bold;
   font-size: 11;
   text-transform: capitalize;
   color: black;
   background-color: #dddddd;
   border: groove #ff9933;
}

input.stdbutton:hover {
   color: #0000ff;
   border: groove #0000ff;
}

input.stdbuttondis{
   font-family: ITC Officina Sans Book, Helvetica, Arial, sans-serif;
   font-style: bold;
   font-size: 11;
   text-transform: capitalize;
   color: #8B8B83;
   background-color: #dddddd;
   border: groove #8B8B83;
}

body {
   background-color: #bbbbbb;
}

table {
   display: table;
   background-color: #FAF7E4;
   width: 100%;
   border-top: 4px solid #666666;
   border-left: 2px solid #666666;
   text-align: left;
   vertical-align: top;
   cellpadding-right: 8px;
}

table.responseHeader, table.analysis {
   width: auto;
}

table {
   border-collapse: collapse
}

tr > td:first-child {
   width: 30%;
}

td.debugdata, td.highlight, td.responseHeader {
   width: auto;
}

td.highlight {
   background:	#ccccff;
}

td.responseHeader {
   width: auto;
   text-align: right;
}

td.responseHeader + td {
   text-align: left;
   font-family: Courier;
}


th, td {
   text-align: left;
   vertical-align: top;
   border-bottom: 1px solid #ff9933;
}

a {
   text-decoration:	none;
   font-weight:	bold;
   font-size:	11px;
   background:	#FAF7E4;
   text-transform: uppercase;
}
		
a:link {	
   color:	#0000aa;
}			
					
a:visited {	
   color:	#0000ff;
}			
								
a:active {
   color:	#4444ff;
}			

a:hover {
   color:	#0000ff;
   background:	#ccccff;
}			

a:offsite {	
   color:	#0000aa;
}		 

table.analysis th, table.analysis td {
border-right:1px solid black;
}

/**
  * styles for the schema browser
  */

table.topTerms {
  width: 450px;
}

table.histogram {
   vertical-align: bottom;
}

table.histogram td, table.histogram th {
   text-align: center;
   vertical-align: bottom;
   border-bottom: 1px solid #ff9933;
   width: auto;
}

#menu {
  background-color: #FAF7E4;
  height:100%;
  min-height:100%;
  width:140px;
  float:left;
  margin-right:20px
}
#menu h3 {
  padding-left:10px;
}
#menu ul {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0
}
#menu li.header {
  text-align: left;
}
#menu li {
  border: 1px solid #ff9933;
  margin: 0
}
#menu li a {
  display:block;
}
#menu li.selected a {
  background-color: #ccccff
}
#menu a:hover {
  background: #ccccff
}

#schemaTop {
  border-bottom:1px black solid;
}

#content {
  margin-left: 160px;
}
#topTerms {
  float:left;
  margin-right:40px;
}
div.analyzer {
  margin-left:20px;
}
